<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to WMO!</h2>
  <p>
    This app is here to tell you 'Where's My Order'
  </p>
  <form (ngSubmit)="whereForm()">
      <ion-item>
        <ion-label>Order ID</ion-label>
        <ion-input type="text" [(ngModel)]="custInput.orderID" name="orderID"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Search</button>
    </form>

  <ion-list>
    <ion-item *ngFor="let order of orderss">
      ID: {{order.id}}, Status: {{order.status}}
    </ion-item>
  </ion-list>

Order Status: {{ordID}} : {{ordStatus}}
</ion-content>
